<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proyecto Express DHTML</title>
        <link rel="stylesheet" href="/styles/styles.css">
</head>
    <body>
        <div class="componente">
            <h3>5. Componente Submit</h3>
            <form id="simpleForm">
                <input type="text" id="nameInput" placeholder="Tu nombre" required>
                <button type="submit">Enviar</button>
            </form>
            <div id="formResult" style="margin-top:10px"></div>
        </div>
        
        <script src="/scripts/ejercicio2/componente5.js"></script>
    </body>
</html>