<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proyecto Express DHTML</title>
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
        <h1>Proyecto Express con DHTML</h1>
        
        <br> <h2>Ejercicio 4</h2>

        <div id="buttons-links-container">
            <a href="https://x.com/firefox"><button>Firefox</button></a>
            <a href="https://x.com/Windows"><button>Windows</button></a>
            <a href="https://x.com/Google"><button>Google</button></a>
            <a href="https://x.com/NASA"><button>NASA</button></a>
            <a href="https://x.com/CasaRosada"><button>Casa Rosada</button></a>
        </div>

        <script src="/scripts/ejercicio4.js"></script>
    </body>
</html>