<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proyecto Express DHTML</title>
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
        <h1>Proyecto Express con DHTML</h1>
        
        <br> <h2>Ejercicio 2</h2>
        
        <div id="componentes-container" class="buttons-container">
            <a href="componentes/click"><button>Componente Click</button></a>
            <a href="componentes/mouseover"><button>Componente Mouseover</button></a>
            <a href="componentes/keypress"><button>Componente Keypress</button></a>
            <a href="componentes/dragdrop"><button>Componente DragDrop</button></a>
            <a href="componentes/submit"><button>Componente Submit</button></a>
        </div>

    </body>
</html>