<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proyecto Express DHTML</title>
        <link rel="stylesheet" href="/styles/styles.css">
</head>
    <body>
        <div class="componente">
            <h3>3. Componente Keypress</h3>
            <input type="text" id="textInput" placeholder="Escribe algo...">
            <p>Teclas presionadas: <span id="keyCount">0</span></p>
        </div>
        
        <script src="/scripts/ejercicio2/componente3.js"></script>
    </body>
</html>