<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proyecto Express DHTML</title>
        <link rel="stylesheet" href="/styles/styles.css">
</head>
    <body>
        <div class="componente">
            <h3>2. Componente Mouseover</h3>
            <button id="hoverBtn">Pasa el ratón</button>
            <div id="tooltip" class="tooltip">
                ¡Tooltip visible!
            </div>
        </div>
        
        <script src="/scripts/ejercicio2/componente2.js"></script>
    </body>
</html>