<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proyecto Express DHTML</title>
        <link rel="stylesheet" href="/styles/styles.css">
</head>
    <body>
        <div class="componente">
            <h3>4. Componente Drag & Drop</h3>
            <div id="dragItem" draggable="true" 
                 style="width:50px;height:50px;background:blue;margin:10px 0">
            </div>
            <div id="dropArea" 
                 style="width:200px;height:100px;border:2px dashed #333;margin:10px 0">
            </div>
            <p id="dropStatus">Arrastra el cuadro azul al área punteada</p>
        </div>
        
        <script src="/scripts/ejercicio2/componente4.js"></script>
    </body>
</html>