<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proyecto Express DHTML</title>
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
        <h1>Proyecto Express con DHTML</h1>
        <br> <h2>Ejercicio 1</h2>
        
        <div class="buttons-container">
            <button id="addH1">Agregar H1</button>
            <button id="changeH1">Cambiar H1</button>
            <button id="colorH1">Cambiar Color</button>
            <button id="addImage">Agregar Imagen</button>
            <button id="changeImg">Cambiar Imagen</button>
            <button id="sizeImg">Cambiar Tamaño</button>
        </div>
        
        <div id="content">
            <!-- Acá se agregarán los elementos dinámicamente -->
        </div>

        <div id="img-content">
            <!-- Acá se agregarán las imagenes dinámicamente -->
        </div>

        
        <script src="/scripts/ejercicio1.js"></script>
    </body>
</html>