<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proyecto Express DHTML</title>
        <link rel="stylesheet" href="/styles/styles.css">
    </head>
    <body>
        <h1>Proyecto Express con DHTML</h1>
        
        <br> <h2>Ejercicio 3</h2>
        
        <div class="buttons-container">
            <button id="countChildren" class="button-children">Contar Hijos</button>
        </div>
        
        <div id="child-count-result" class="result-box">
            <!-- Acá se mostrará el resultado -->
        </div>

        <script src="/scripts/ejercicio3.js"></script>
    </body>
</html>